// Mixins in here
.flexbox(@a, @b, @c, @d, @e){
	display: flex;
	justify-content: @a;
	align-items: @b;
	align-content: @c;
	flex-direction: @d;
	flex-wrap: @e;
}
.evenmargin(){
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}